@model Kinde.DemoMVC.Models.HelperFunctionsViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kinde - .NET Starter kit</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, user-scalable=no" />
    <style>
        [hidden] {
            display: none;
        }
    </style>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <header>
        <nav class="nav container">
            <h1 class="text-display-3">KindeAuth</h1>
            <div class="profile-blob">
                <img class="js-user-avatar avatar" src="@Model.UserDetail?.Picture" alt="avatar" />
                <div>
                    <p class="js-user-name text-heading-2">@(Model.UserDetail?.GivenName) @(Model.UserDetail?.FamilyName) </p>
                    @Html.ActionLink("Sign out", "Logout", "Home", null, new {@class="text-subtle"})
                    @Html.ActionLink("Renew token", "Renew", "Home", null, new {@class="text-subtle"})
                </div>
            </div>
        </nav>
    </header>

    <main>
        <div class="container">
            <div class="js-logged-in-view">
                <div class="card start-hero">
                    <p class="text-display-2">
                        Helper functions
                    </p>
                </div>

                <div class="user-fields">
                    <h3>Get claim: (iss)</h3>
                    <input title="iss" value="@Model.IssClaim" />
                </div>

                <div class="user-fields">
                    <h3>Organization</h3>
                    <input title="organization" value="@Model.Organization" />
                </div>

                <div class="user-fields">
                    <h3>User organizations</h3>
                    <input title="organizations" value="@Model.UserOrganizations" />
                </div>

                <div class="user-fields">
                    <h3>Get flag: (theme)</h3>
                    <input title="theme" value="@Model.ThemeFlag" />
                </div>

                <div class="user-fields">
                    <h3>Get boolean flag: (is_dark_mode)</h3>
                    <input title="is_dark_mode" value="@Model.IsDarkMode" />
                </div>

                <div class="user-fields">
                    <h3>Get string flag: (theme)</h3>
                    <input title="theme string" value="@Model.Theme" />
                </div>

                <div class="user-fields">
                    <h3>Get integer flag: (competition_limit)</h3>
                    <input title="competition_limit" value="@Model.CompetitionsLimit" />
                </div>

                <div class="user-fields">
                    @Html.ActionLink("Back to Home", "Index", "Home", null, new {@class="btn btn-dark"})
                </div>
            </div>
        </div>
    </main>

    <footer class="footer">
        <div class="container">
            <strong class="text-heading-2">KindeAuth</strong>
            <p class="footer-tagline text-body-3">
                Visit our
                <a class="link" href="https://kinde.com/docs">
                    help center
                </a>
            </p>

            <small class="text-subtle">
                © 2022 KindeAuth, Inc. All rights reserved
            </small>
        </div>
    </footer>

</body>
</html>
